<div class="main-page" *ngIf="isLog">
  <div class="date-picker">
    <div *ngIf="unitId != null" class="date-picker-div">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Start date"
            [(ngModel)]="startDate"
          />
          <input
            matEndDate
            placeholder="End date"
            [(ngModel)]="endDate"
            (dateChange)="submit()"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <div>{{ startDate }}</div>
      <div>{{ endDate }}</div>

      <!-- <button class="btn btn-primary" (click)="submit()">Submit</button> -->
    </div>
    <div class="list-of-cars-div">
      <div *ngFor="let car of allCarsHistory; index as i">
        <button (click)="changeUnitId(car.unit_id)">{{ car.reg_broj }}</button>
      </div>
    </div>
    <div>
      <div class="table-wrapper">
        <table class="table">
          <thead class="thead">
            <tr class="table-tr">
              <th class="table-th">Drzava</th>
              <th  class="table-th">Grad</th>
            </tr>
          </thead>

          <tr *ngFor="let city of citiesHistory; index as i">
            <td>
              {{ city.country }}
            </td>
            <td>
              {{ city.city }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="right-sidebar-container">
    <div id="map"></div>
  </div>
</div>
