<div class="main-page" *ngIf="isLog">
    <h1 class="h1-main">Main page</h1>
    <div class="date-picker">
         <!-- <input type="date" [(ngModel)]='startDate'>
    <input type="date" [(ngModel)]='endDate'> -->

    <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t" outsideDays="hidden">
    </ngb-datepicker>
    
    <ng-template #t let-date let-focused="focused">
      <span class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template>
    
    <div>{{startDate}}</div>
    <div>{{endDate}}</div>


    <button class="btn btn-primary" (click)='submit()'>Submit</button>
    </div>
    <div class="map">

    </div>
    
   


</div>
