<div class="main-page" *ngIf="isLog">
  <div class="navigation">
    <div class="navigation-navbar">
      <div class="navigation-navbar-item">
        <a routerLink="users" routerLinkActive="active"><span>Users</span></a>
      </div>
      <div class="navigation-navbar-item">
        <a routerLink="units" routerLinkActive="active"><span>Units</span></a>
      </div>
      <div class="navigation-navbar-item">
        <a routerLink="history" routerLinkActive="active"><span>History</span></a>
      </div>
      <div class="navigation-navbar-item">
        <a routerLink="monitoring" routerLinkActive="active"><span>Monitoring</span></a>
      </div>
      <div class="navigation-navbar-item">
        <a routerLink="userunits" routerLinkActive="active"> <span> User Units</span></a>
      </div>
      <div class="navigation-navbar-item">
        <button (click)="logOut()" type="button" class="logOutButton">Log Out</button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
  <div class="right-sidebar-container">
    <div id="map"></div>
  </div>
</div>
