/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding-top: 300px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.main-page {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  padding-top: 0px;
}
.h1-main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.date-picker {
  width: 30%;
  margin: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  /* background-color: #333131; */
}
.map {
  width: 70%;
  /* background-color: rgb(143, 143, 143); */
  height: 600px;
  /* z-index: 0; */
}
#map {
  height: 100vh;
  z-index: 1;
}
.right-sidebar-container {
  background-color: rgba(2, 117, 216, 0.5);
  width: 100%;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.table-wrapper {
  width: 100%;
  overflow-y: scroll;
  height: 300px;
  display: block;
}



.list-of-cars-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list-of-cars-div div{
  margin: 2px;
}
.list-of-cities {
  margin-top: 50px;
  width: 100%;
}
.table-th {
  width: 50%;
}
.navigation {
  display: flex;
}
.navigation-navbar {
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #3f3f3f;
}
.navigation-navbar-item {
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
}
.navigation-navbar-item a {
  color: #ffffff;
  text-decoration: none;
}

.active span {
  color: #d62828;
  border-bottom: 1px solid #d62828;
}
.logOutButton {
  border: none;
  background: none;
  color: #ffffff;
}
.logOutButton:hover {
}
.users-component {
  width: 300px;
  height: 100vh;
  background-color: #6b6b6b;
  /* z-index: 999;
  position: fixed; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.users-component h1 {
  color: white;
}

.user-component-create {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #9c9c9c30;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-component-create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 5%;
  background-color: #212529;
}
.user-component-create-form-input {
  margin-top: 8px;
}
.user-component-create-form-button {
  margin-top: 10px;
  width: 120px;
  border: none;
  background-color: #adb5bd;
  border-radius: 5px;
  color: #212529;
}

.user-units-list-item {
  cursor: pointer;
}
.optionsButton {
  background: none;
  border: none;
  font-size: 18px;
  color: #bd3f43;
}
.options-div {
  display: flex;
}
.users-units-list {
  list-style-type: none;
  padding: 0;
}
.users-units-list-li {
  border-bottom: 1px solid rgb(85, 85, 85);
  padding: 5px 0 !important;
  color: rgb(218, 218, 218);
}
